@model KuetAcademy.Web.Models.ViewModels.EditTeacherRequest
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Edit Teacher</h1>
    </div>
</div>

<div class="container py-4" style="font-size:16px;">
    @if (Model != null)
    {
        <form method="post">
            <br />
            <div class="mb-3">
                <label class="form-label" style="font-size:18px;">Id</label>
                <input type="text" class="form-control" asp-for="Id" readonly />
            </div>
            <br />
            <div class="mb-3">
                <label class="form-label" style="font-size:18px;">Name</label>
                <input type="text" class="form-control" asp-for="Name" />
            </div>
            <br />
            <div class="mb-3">
                <label class="form-label" style="font-size:18px;">Description</label>
                <input type="text" class="form-control" asp-for="ShortDescription" />
            </div>
            <br />
            
            <div class="mb-3">
                <label class="form-label" style="font-size:18px;">Preferred Subject</label>
                <textarea class="form-control" id="content" asp-for="PreferredSubject"></textarea>
            </div>
            <br />
            <div class="mb-3">
                <label class="form-label" style="font-size:18px;">Thumbnail Picture</label>
                <input type="file" id="featuredImageUpload" class="form-control" />

                <img src="" id="featuredImageDisplay" style="display:none; width:300px; height:300px; margin-top:5px;" />
            </div>
            <br />
            <div class="mb-3">
                <label class="form-label" style="font-size:18px;">Thumbnail Image Url</label>
                <input type="text" class="form-control" id="featuredimageurl" asp-for="ImageUrl" />
            </div>
            <br />
            <div class="mb-3">
                <label class="form-label" style="font-size:18px;">Facebook Link</label>
                <input type="text" class="form-control" id="urlhandle" asp-for="FacebookLink" />
            </div>
            <br />
            <div class="mb-3">
                <label class="form-label" style="font-size:18px;">Instagram Link</label>
                <input type="date" class="form-control" id="publisheddate" asp-for="InstagramLink" />
            </div>
            <br />
            <div class="mb-3">
                <label class="form-label" style="font-size:18px;">Twritter Link</label>
                <input type="text" class="form-control" id="author" asp-for="TwitterLink" />
            </div>
            <br />
            <div class="mb-3">
                <button type="submit" class="btn btn-primary" style="font-size:18px; margin-right:20px;">
                    Update
                </button>
                <button type="submit" class="btn btn-danger" style="font-size:18px;"
                        asp-area=""
                        asp-controller="AdminTeacher"
                        asp-action="Delete">
                    Delete
                </button>
            </div>
            <br />
        </form>
    }

</div>

@section Scripts{
    <script>
        var editor = new FroalaEditor('#content', {
            imageUploadURL: '/api/images'
        });

        const featuredUploadElement = document.getElementById('featuredImageUpload');
        const featuredImageUrlElement = document.getElementById('featuredimageurl');
        const featuredImageDisplayElement = document.getElementById('featuredImageDisplay');


        async function uploadFeaturedImage(e) {
            console.log(e.target.files[0]);

            let data = new FormData();
            data.append('file', e.target.files[0]);

            await fetch('/api/images', {
                method: 'POST',
                headers: {
                    'Accept': '*/*',
                },
                body: data
            }).then(response => response.json())
                .then(result => {
                    featuredImageDisplayElement.src = result.link;
                    featuredImageDisplayElement.style.display = 'block';
                    featuredImageUrlElement.value = result.link;
                });
        }

        featuredUploadElement.addEventListener('change', uploadFeaturedImage);

    </script>
}