@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row blog-container">
        <h2 style="color:darkred">
            You are not allowed to access this page!
        </h2>
        <img src="https://cdn.dribbble.com/users/2950423/screenshots/7191173/media/5e53ea26e1458bdb27fe61bea68516cd.png?compress=1&resize=1600x1200&vertical=center" class="img-responsive" />
    </div>
    
</div>